a {
  color: black !important;
}

a.support-btn{
  padding: 10px !important;
}

div.body-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: black;
  background: linear-gradient(rgba(20, 50, 80,0.5), rgba(30, 30, 30, 0.5)), url("../images/book-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 73.5vh;
}

/* Social Media Links */
.fb:hover {
  background-color: rgb(0, 0, 255);
}

.twitter:hover {
  background-color: rgb(173, 216, 230);
}

.linkedin:hover {
  background-color: rgb(0, 119, 181);
}

.instagram:hover {
  background-color: rgb(223, 76, 76);
}

.fb:hover, .twitter:hover, .linkedin:hover, .instagram:hover {
  text-decoration: none;
  color: white !important;
}
/* .................... */

section.why-you-need-to-unlock {
  background-color: black;
  background: linear-gradient(rgba(20, 50, 80, 0.9), rgba(0, 0, 0, 0.9)), url("../images/book-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.btn {
  background-color: rgb(110, 198, 174);
  color: white !important;
  font-weight: 700;
  padding: 10px 50px;
}

.fa-check {
  font-size: 20px !important;
  color : white !important;
  background-color: black;
  padding: 2px 3px;
  margin-right: -25px;
  height: 25px;
}

input {
  outline: none !important;
}

i {
  font-size: 50px !important;
}

ul.topnav-links {
  margin-left: auto;
}

nav.topnav {
  box-shadow: 3px 3px 3px lightgrey;
  background-color: white;
}

ul.topnav-links a {
  font-weight: 500;
}

img.logo {
  width: 50px;
}

/* i styled the small screen menu button here because the bootstrap option wasn't working which i don't know why*/
button.sm-menu {
  color: white;
  background-color: rgb(33, 42, 73);
  padding: 10px;
  border-radius: 10px;
  margin-left: 50px;
  outline: none;
}
/* .......... */

div.body-banner h1 {
  text-shadow: 1px 1px 1px 1px #cccccc;
  text-align: center;
  margin-bottom: 30px;
}

div.moving-text h4.moving-text-title {
  margin-bottom: 0 !important;
  padding: 6px 10px;
}


marquee {
  background-color: rgb(33, 42, 73);
  color: white;
  padding: 8px 0;
}

div.about-book-img img, div.about-author-img img {
  height: 60vh;
  box-shadow: 5px 5px 5px lightgrey;
}

div.book-foreword-img {
  position: relative;
  padding: 0 !important;
  height: 60vh;
}

div.book-foreword-img img {
  margin-left: 300px;
  height: 60vh;
  box-shadow: 5px 5px 5px 5px lightgrey;
}

div.book-foreword-img h4 {
  position: absolute;
  bottom: -10px;
  left: 300px;
  padding: 5px;
  text-align: center;
  opacity: 0.8;
  font-weight: 700;
}

section.about-book div.text-about-book {
  text-align: justify;
}

div.reviews i {
  float: left;
  margin-right: 10px;
}

div.reviews p {
  word-spacing: 5px;
  font-weight: normal;
  text-align: justify;
}

div.card {
  box-shadow: 3px 3px 3px 3px #ccc;
  background-color: #f5f5f5;
  color: black !important;
}

div.follow-links a {
  font-size: 30px;
}


/* This was actually my first time of using the media query, and to be honest with you i was pessimistic and nervous but with time i began to
enjoy it after seeing it effect on my project */

/* The image quotes in the about page was adjusted here via small screen */
@media (max-width: 991px) {
  div.about-book-quotes img {
    margin: 20px !important;
    width: 70%;
  }
}
/* .......... */


/* The about page was adjusted here via small screen */
@media (max-width: 991px) {
  div.about-book-img {
  margin: 30px 0;
  width: 100%;
}

  div.text-about-book {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  div.text-about-book p {
    text-align: justify;
    margin: 0 20px;
  }

  div.about-book-img img {
    margin-left: 80px !important;
  }
}
/* .......... */


/* The author's page was adjusted here via small screen */
@media (max-width: 991px) {
  div.about-author-img img {
    margin-left: 100px !important;
  }

  div.follow-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 525px;
    margin-bottom: 20px;
  }
  div.follow-links h4 {
    margin-right: 20px;
  }
  div.about-author-img {
    margin: 30px 0;
    width: 100%;
  }
}
/* .......... */


/* The foreword page was adjusted here */
@media (max-width: 991px) {
  div.book-foreword-img {
    margin-top: 30px;
  }

  div.book-foreword-img img {
    margin-left: 120px !important;
  }

  div.book-foreword-img h4 {
    margin-left: -180px !important;
  }
}



/* The Buttons in this website were all treated here via small screen, though not much was done*/
@media (max-width: 991px) {
  a.support-btn {
    width: 100%;
    margin: 10px 0 !important;
  }

  a.get-book-btn2 {
    width: 50%;
    margin: 20px 120px !important;
  }
}
/* .......... */


/* The navbar was also adjusted here via small screen */
@media (max-width: 991px) {
  ul {
    width: 100%;
    background-color: rgb(69, 95, 113);
    text-align: center;
  }

  li.nav-item {
    border-bottom: 1px solid grey;
    margin-left: 0 !important;
  }

  li.nav-item a {
    color: white !important;
  }

  li:hover {
    background-color: rgb(29, 31, 33);
  }

  nav.topnav {
    padding-right: 0 !important;
    padding-left: 0 !important;

  }
}
/* .......... */
